{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-select/css/bootstrap-select.min.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "toastr/toastr.min.css" %}">
    <link rel="stylesheet" href="{% static "ztree/css/zTreeStyle/zTreeStyle.css" %}" />
    <link rel="stylesheet" href="{% static "alleria/style.css" %}">
    {% block css %}{% endblock %}
</head>
<body>
    {% block body %}
        hello
    {% endblock %}

    <script src="{% static "jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "toastr/toastr.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap-select/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "ztree/js/jquery.ztree.all.min.js" %}"></script>
    <script src="{% static "alleria/csrf.js" %}"></script>
    <script src="{% static "alleria/common.js" %}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>