{% extends "alleria/_sidebar.html" %}
{% load bootstrap3 %}

{% block main %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'user_list' %}">
                用户管理
            </a>
        </li>
        <li>
            <a href="{% url 'user_detail' object.id %}">
                {{ user }}
            </a>
        </li>
        <li>
            用户修改
        </li>
    </ol>
    <div class="container-fluid page">
        <form action="" method="post" class="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                    {% bootstrap_field form.username %}
                    {% bootstrap_field form.name %}
                    {% bootstrap_field form.email %}
                    {% bootstrap_field form.is_active %}
                    {% bootstrap_field form.is_sa %}
                    {% bootstrap_field form.raw_password %}
                    {% bootstrap_field form.raw_password_repeat %}
                </div>
                <div class="col-sm-4">
                    {% bootstrap_field form.roles %}
                    {% bootstrap_field form.department %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        提交
                    </button>
                {% endbuttons %}
                </div>
            </div>
        </form>
    </div>
{% endblock main %}